<div class="row border border-dark" id="prefered-item-full">
	<div class="col-12">
		<div class="col-10 offset-1 ">
			<div class="row">
				<h6 class="lead text-secondary text-capitalize text-truncate">{{shop.name}}</h6>
			</div>
			<div class="row border border-dark btn-secondary" id="prefered-item-image">
			</div>
			<div class="row align-items-center" id="prefered-item-buttons"> 
				<button type="button" class="btn btn-danger btn-sm col-6 rounded-0 text-truncate text-left" (click)="onRemove()">Remove</button>
				
			</div>
			
		</div>
	</div>
</div>