<div class="row align-items-center " id="full-sign-up">
				
				<form [formGroup]='signUpForm'  class="col-10 offset-1" (ngSubmit)="onSubmitSignUpForm()">
		  			<div class="form-group row" >
		  				<div class="col-12 text-center">

		  					<p class="lead "><i class="fas fa-user-plus"></i> Sign Up</p>

		  				</div>
		  			</div>
		  			<div class="form-group row field-sign-up">
		    			<label for="email" class="col-4 col-form-label  text-secondary"><i class="fas fa-user"></i> Email</label>
		    			<div class="col-8">
		      				<input type="email" class="form-control" formControlName="login" id="email" placeholder="email" required/>
		    			</div>
		  			</div>
		  			<div class="form-group row  field-sign-up">
		    			<label for="password" class="col-4 col-form-label  text-secondary" ><i class="fas fa-lock"></i> Password</label>
		    			<div class="col-8">
		      				<input type="password" class="form-control" formControlName='password' id="password" placeholder="mot de passe" required/>
		    			</div>
		  			</div>
		  			<button type="submit" class="btn btn-info" [disabled]="signUpForm.invalid">Sign up</button>


				</form>
				
</div>
				
			