<div class="row align-items-center rounded-left" id="welcome-full">
			<div class="col-12 ">
				<div class='row' id="description">
						<div class="col-12 ">
						<h1 class="text-center text-white " id="heading">United Remote Shops</h1>
						<p class="text-center text-white lead" > 
							Welcome to my United Remore Shops ,an app that was created by  <span class="font-weight-light">Bouatim El Mahfoud </span>  
						</p>
						</div>
				</div >
				<div class="row" >
					<div class="col-4 text-center">
						<a class="btn btn-outline-primary btn-lg btn-block " href="https://web.facebook.com/UnitedRemote/"><i class="fab fa-facebook-f"></i><span class="text-to-hide"> Follow Us</span></a>
					</div>
					<div class="col-4 text-center">
						<a class="btn btn-outline-info btn-lg btn-block " href="https://www.linkedin.com/company/united-remote/"><i class="fab fa-linkedin"></i><span  class="text-to-hide"> Follow Us</span> </a>
						
					</div>
					<div class="col-4 text-center">
						<a class="btn btn-outline-danger btn-lg btn-block " href="mailto:hello@unitedremote.com"><i class="fas fa-envelope"></i><span class="text-to-hide"> Contact </span> </a>
					</div>
				</div>
			</div>
		</div>