<div class="row" id="dashboard-full">
	<div class="col-12">
		<div class="row bg-info align-items-center" id="dashboard-navbar">
				<h6 class="col-1 offset-11 text-left text-white btn btn-link align-items-center" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i></h6>
		</div>
		<div class="row bg-light  " id="dashboard-menu">
			<div class="col-12 ">
				<div class="row" id="dashboard-navigation">
					<div class="col-12 text-right">
						<button class="btn btn-link text-capitalize text-right"  routerLink='list-nearby-shops'  >Nearby Shops</button>
						<button class="btn btn-link text-capitalize text-right"  routerLink='list-prefered-shops' >My Prefered Shops</button>
					</div>
				</div>
				<div class="row">
					<div class="col-10 offset-1 " id="dashboard-list-items">
						<router-outlet></router-outlet>
					</div>
				</div>
			
			</div>
		</div>

	</div>
</div>