#dashboard-full{
	height: 100vh;
}
#dashboard-navbar{
	height: 6vh;
}
#dashboard-menu{
	height: 94vh;
}
#dashboard-list-items{
	height: 85vh;
	overflow-y: auto;
}
#dashboard-navigation{
	margin-bottom: 2vh;
}